// TESTIMONIALS
.testimonials {
  @include maxWidthLg;
  overflow: hidden;

  &__content {
    @include sectionSpacing;
    display: grid;
    gap: 2rem;
    grid-template-areas:
      "purple purple grayish-blue white-2"
      "white-1 dark-blue dark-blue white-2";

    @include responsive(lg) {
      grid-template-areas:
        "purple purple"
        "grayish-blue grayish-blue"
        "white-1 white-1"
        "dark-blue dark-blue"
        "white-2 white-2";
    }

    .testimonial__card--purple {
      grid-area: purple;
      background-color: color(moderateViolet);
    }
    .testimonial__card--grayish-blue {
      grid-area: grayish-blue;
      background-color: color(darkGrayishBlue);
    }
    .testimonial__card--white-1 {
      grid-area: white-1;
      background-color: color(white);
    }
    .testimonial__card--white-2 {
      grid-area: white-2;
      grid-row: 1 / -1;
      background-color: color(white);

      @include responsive(lg) {
        grid-row: auto;
      }
    }
    .testimonial__card--dark-blue {
      grid-area: dark-blue;
      background-color: color(darkerGrayishBlue);
    }
  }
}

// FOOTER
.footer {
  @include flexCenter;
  text-align: center;
  flex-wrap: wrap;

  h3 {
    @include textStyles;
    font-size: size(xxs);
  }

  a {
    @include headingStyles;
    color: color(moderateViolet);
    outline: 0;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  img {
    width: 5rem;
  }
}

// PRELOADER
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: color(black);
  display: grid;
  place-items: center;
  visibility: visible;
  z-index: 2000;
  transition: 0.5s ease-in-out;
  opacity: 1;

  &-content {
    position: absolute;
    display: grid;
    place-items: center;

    h1 {
      @include headingStyles;
      font-size: size(xxl);
      color: color(moderateViolet);
      z-index: 2000;
      pointer-events: none;
    }

    .preloader-img {
      width: 15rem;
      pointer-events: none;
    }
  }

  .spinner {
    width: 300px;
    height: 300px;
    position: relative;

    div {
      box-sizing: border-box;
      position: absolute;
      width: 100%;
      height: 100%;
      border: 10px double transparent;
      border-top-color: color(moderateViolet);
      border-radius: 50%;
      animation: spinnerOne 1.5s linear infinite;

      &:nth-child(2) {
        border: 10px double transparent;
        border-bottom-color: color(moderateViolet);
        animation: spinnerTwo 1.5s linear infinite;
      }
    }
  }

  @keyframes spinnerOne {
    0% {
      transform: rotate(0deg);
      border-width: 10px;
    }

    50% {
      transform: rotate(180deg);
      border-width: 1px;
    }

    100% {
      transform: rotate(360deg);
      border-width: 10px;
    }
  }

  @keyframes spinnerTwo {
    0% {
      transform: rotate(0deg);
      border-width: 1px;
    }

    50% {
      transform: rotate(180deg);
      border-width: 10px;
    }

    100% {
      transform: rotate(360deg);
      border-width: 1px;
    }
  }
}

.hide-preloader {
  z-index: -1000;
  visibility: hidden;
  opacity: 0;
}
