// SECTION STYLES
@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin sectionSpacing() {
  padding: 5rem 2rem;
}

// TYPOGRAPHY STYLES
@mixin headingStyles() {
  font-weight: 600;
  letter-spacing: 0.2rem;
  line-height: 1.6;
}

@mixin textStyles() {
  font-weight: 400;
  letter-spacing: 0.1rem;
  line-height: 1.6;
}

// CONTAINER STYLES
@mixin maxWidthLg() {
  max-width: 1400px;
  margin: 0 auto;
}

@mixin maxWidthMd() {
  max-width: 1200px;
  margin: 0 auto;
}

@mixin maxWidthSm() {
  max-width: 1000px;
  margin: 0 auto;
}
