$colors: (
  black: hsl(0, 0%, 0%),
  white: hsl(0, 0%, 100%),
  // PRIMARY
  moderateViolet: hsl(263, 55%, 52%),
  darkGrayishBlue: hsl(217, 19%, 35%),
  darkerGrayishBlue: hsl(219, 29%, 14%),
  // NEUTRAL
  lightGray: hsl(0, 0%, 81%),
  lightGrayishBlue: hsl(210, 46%, 95%),
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

$font-sizes: (
  xxl: 3.5rem,
  xl: 3rem,
  lg: 2.5rem,
  md: 2rem,
  sm: 1.8rem,
  xs: 1.6rem,
  xxs: 1.3rem,
);

@function size($size) {
  @return map-get($font-sizes, $size);
}
